<nav class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start md:w-auto">
        <a class="btn btn-ghost text-xl" routerLink="/">Country App</a>
    </div>
    <div class="hidden md:block md:navbar-end lg:navbar-center flex-grow">
        <country-top-menu class="flex justify-end lg:justify-center" customClass="menu-horizontal" />
    </div>
    <div class="hidden md:block md:navbar-end max-w-12">
        <shared-toggler-dark-theme />
    </div>
    <!-- <div class="hidden lg:block lg:navbar-end">
        <shared-toggler-dark-theme />
    </div> -->
    <div class="navbar-end md:hidden gap-2">
        <shared-toggler-dark-theme class="md:hidden" />
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </div>
            <country-top-menu tabindex="-1"
                class="menu menu-sm right-0 bg-base-100 rounded-box z-1 mt-3 p-2 shadow dropdown-content w-40"
                customClass="w-full flex flex-col gap-2" />
        </div>
    </div>
</nav>